
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: #f5f5f5;
  color: #333;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  
}


header {
  background: #1f1f56;
  height: 55px;
}

.sale nav ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0 40px;
      align-items: center;
      font-size: 14px;
      letter-spacing: 2px;
      line-height: 24px;
}

.sale nav ul li {
  margin: 0;
}



.sale nav ul li a {
  color: #b1b1d2;
  text-decoration: none;
}

.social-icons {
  position: absolute;
  top: 18px;
  right: 40px;
  display: flex;
  gap: 18px;
  margin: 0;
}

.social-icons img {
  width: 20px;
  height: 20px;
}


.contact-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 40px;
}

.contact-logo img {
  height: 55px;
}

.contact-info {
  flex-grow: 1;
  margin-left: 50px;
}

.phone p {
  margin: 4px 0;
  font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;

}

.contact-info img {
  margin-right: 8px;
}

.contact-info a {
  color: #25252c;;
  text-decoration: none;
}

.contact-button button {
    background: #ff7a00;
    padding: 12px 28px;
    border-radius: 29px;
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;

}


.offer {
  position: relative;
  padding: 0;
}

.offer img {
  width: 100%;
  height: auto;
  display: block;
}

.offer h1 {
    position: absolute;
    top: 40px;
    left: 40px;
    color: #fff;
    margin: 0;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.offer p {
  position: absolute;
  top: 85px;
  left: 40px;
  font-size: 16px;
  color: #fff;
}

.offer strong {
    position: absolute;
    top: 120px;
    left: 40px;
    font-weight: bold;
    font-size: 40px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
}


.about {
  padding: 40px;
}

.about h2 {
    margin: 0 0 15px 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    }

.about p {
    margin: 0 0 15px 0;
    color: #444;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}

.about a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
}


.project-categories {
  padding: 30px 40px;
  background: #f5f5f5;
}

.project-categories h3 {
      margin: 0 0 20px 0;
      border-radius: 3px;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Roboto Slab";
      background-color: #1f1f56;
}

.project-categories ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.project-categories li {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 24px;
    color: #25252c;
}


.popular-projects {
  padding: 40px;
}

.popular-projects h2 {
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.project-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.project-card {
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
}

.project-card img {
  width: 100%;
  margin-bottom: 15px;
}

.project-card h3 {
  font-size: 18px;
  margin: 0 0 10px 0;
}

.project-card p {
  margin: 3px 0;
  font-size: 14px;
}


.footer {
  background: #f1f1f1;
  padding: 30px 40px;
  font-size: 14px;
  color: #333;
}

.footer-links ul {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
}

.footer-links a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    line-height: 26px;

}

.footer-contacts p {
  margin: 6px 0;
}

.footer-contacts img {
  margin-right: 8px;
}

.footer-social {
  margin: 15px 0;
}

.footer-social img {
  margin-right: 15px;
}

.footer span {
    display: block;
    margin-top: 15px;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    text-align: center;
}
